<html>
<head>
    <style>
      body {
        float: left;
      }
      @media (min-width: 1071px) {
        img {
          width: 100%;
        }
      }
      
      @media (max-width: 1070px) {
        img {
          height: 100%;
        }
      }
    </style>
</head>
<body style='margin: 0'>
  <img src='http://i68.tinypic.com/r2oj2b.jpg'><img/>
  <script src="https://cdn.smooch.io/smooch.min.js"></script>
  <script>
      Smooch.init({appToken: '{{appToken}}' });
  </script>
</body>
</html>